// custom variables
$primary: #005eb8;
$secondary: #003B5C;
$light: #EDEDED;

$border-radius: 0px;

$nav-link-color: #ffffff; 

// font family
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Open Sans', sans-serif;


//Import the functions & variables

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

// Add new color map to add more colors to the theme-colors color map in _variables.scss
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altsecondary": #AA7390,
    "altwhite": #ffffff,
);

//Merge out custom colors map with the original theme colors map 
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

section{
    padding: 35px 0;
}

//Navigation
.navbar{
    height: 70px;
}
.navbar.pre-top{
  height: 48px;
}
.navbar.fixed-top{
  top:48px;
   transition: all .08s ease-in-out;
}
.scroll .navbar.fixed-top{
  top:0;
}
#offcanvasNavbar {
    top: 118px;
  }
  .scroll #offcanvasNavbar {
    top: 70px;
  }
  nav .offcanvas-backdrop.show{
    display: none;
  }
  nav > .container-fluid{
    height: 100%;
  }
  .nav-buttons {
    height: 100%;
    display: flex;
    flex-grow:1;
  }
  @media only screen and (max-width: 992px){
    .nav-buttons {
    justify-content: flex-end;
    }
    .nav-buttons>button{
      width: 20%;
    }
  }
  @media only screen and (max-width: 778px){
    .nav-buttons button{
      width: 100%;
    }
  }
  .navbar-toggler:focus-visible{
    outline: auto;
  }
  .navbar-toggler span{
    display: none;
  }
  .navbar-toggler span.show{
    display: flex;
    align-items: center;
  }
  .navbar-toggler span small{
    font-size: .875rem!important;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
.navbar-nav.text-white .nav-link{
    color:inherit;
    display: flex;
    justify-content: space-between;
}
.nav-item{
     border-bottom: 1px solid rgba(225,225,225,.2);
}
.nav-item:last-child{
    border-bottom: none;
}
.nav-item:hover .nav-link{
  opacity: .6;
}
.nav-link.active{
  font-weight: bolder;
}
.pre-top .navbar-nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.pre-top .nav-item .nav-link {
  color: $primary;
}
.hidden{
  display: none;
}
//Hero
section.hero-section{
  padding: 70px 0 35px 0;
}
.p-4-2{
  padding: 2.2rem;
}
section.hero-section .bg-image{
  min-height: calc(100vh - 140px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
justify-content: center;
align-items: center;

}
section.hero-section .input-group{
  justify-content: center;
}
section.hero-section #search-autocomplete {
  display: flex;
  align-items: center;
  width: 310px;
  position: relative;
}
section.hero-section #search-autocomplete .autoComplete_wrapper {
  width: 100%;
}
section.hero-section #search-autocomplete .autoComplete_wrapper #autoComplete {
  height: 55px;
  border-radius: 30px;
  padding-left: 1.76rem;
  z-index: 3;
position: relative;
border-color: transparent;
}
section.hero-section #search-autocomplete .autoComplete_wrapper #autoComplete:focus {
  border-color: transparent;
  box-shadow: none;
}
section.hero-section .input-group #search-autocomplete .btn{
  position: absolute;
  right: 9px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 8px;
  z-index: 4;
}
section.hero-section .input-group #search-autocomplete .btn i{
  color: #ffffff;
}
section.hero-section .input-group #autoComplete_list_1{
  display: flex;
background: white;
color: black;
list-style: none;
flex-flow: column;
align-items: flex-start;
padding: 3.5rem 1rem 1rem;
top: 0;
position: absolute;
width: 310px;
left: 50%;
transform: translateX(-50%);
border-radius: 30px;
z-index: 2;
}
section.hero-section .input-group #autoComplete_list_1 li {
  padding: .5rem 1rem;
  width: 100%;
  text-align: left;
}
section.hero-section .input-group #autoComplete_list_1 li:first-child{
  border-top: 1px solid black;
}
section.hero-section .input-group #autoComplete_list_1 a {
  text-decoration: none;
  color: black;
}
.hero-btn-group .btn-altwhite::after{
  content: "";
  height: 5px;
  width: 100%;
  display: block;
}
.btn-altwhite:hover::after{
  border-bottom: 5px solid #003B5C;
}
.hero-btn-group{
  flex-wrap:wrap;
}
@media only screen and (max-width: 992px){
  .hero-btn-group .btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
  }
  .hero-btn-group .btn:last-child{
    border-bottom: none;
  }
}

//Card
.height-adjust .card{
  height: 100%;
}
.card{
  border: none;
}
.news-heading{
  border-bottom: 4px solid #AA7390;
}
.news-card span.h6{
  display: block;
  padding-bottom: 10px;
  color: #003B5C;
}
.news-card .card a{
  color: unset;
  text-decoration: none;
}
.category-cards .card .card-body{
  color: $primary;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.card .card-img-top{
  height: 200px;
  object-fit: cover;
}
.card a:hover, .card li:hover a {
  opacity: .7;
}
.card ul li.fs-5 a,  .card a.card-link{
  position: relative;
}
.card ul li.fs-5 a span, .card a.card-link span{
  position: relative;
}
.card ul li.fs-5 a i{
  -webkit-text-stroke: 2px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: currentcolor;
font-size: 14px;
margin-left: 5px;
transform: translateX(0px);
position: absolute;
top: 20%;
}
.card ul li.fs-5 a:hover i, .card a.card-link:hover i {
  transform: translateX(10px);
  transition: transform .2s ease-in-out;
}
.card a.card-link i{
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentcolor;
  font-size: 14px;
  margin-left: 5px;
  transform: translateX(0px);
  position: absolute;
  top: 20%;
}
.btn-outline-altsecondary{
  border-width: 2px;
}
.news-card .btn-outline-altsecondary i{
  -webkit-text-stroke: 1px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: currentcolor;
font-size: 14px;
}
// SLIDER
.slider-hero .bg-image{
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}
.slider-hero .slider-min-h{
  min-height: 80vh;
}
.slider-hero__text-container {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}
.carousel-control-prev, .carousel-control-next{
  width: 5%;
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  position: relative;
}
.carousel-control-next-icon::before, .carousel-control-prev-icon::before {
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -.25rem;
  z-index: -1;

  
}
.carousel-control-next-icon::before{
  left: -.3rem;
}
.carousel-control-prev-icon::before{
  left: -.15rem;
}
.carousel-control-prev:hover .carousel-control-prev-icon::before, .carousel-control-next:hover .carousel-control-next-icon::before{
  background-color: white
}
.carousel-control-next:hover  .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-control-prev:hover .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid white;
  opacity: 1;
  border-radius: 50%;
}
.carousel-indicators .active{
  background-color: white;
}

//Calendarium
.calendar {
  margin-top: 1rem;
}
.calendar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  color: inherit;
}

.calendar__date-box {
  display: block;
  background: #AA7390;
  padding: 1rem 1.2rem 1.5rem;
  border-radius: 0 0 40px 40px;   
  font-size: 1.3rem;
  color: white;
}
.calendar__date-box span {
  display: block;
  text-align: center;
}
.calendar__date-box span:first-child {
  font-weight: bold;
  line-height: 1;
}
.calendar .list-group-item {
  padding: 1rem;
}
.calendar__date{
  margin-right: 5px;
}
.calendar__date i, .calendar__place i{
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: currentcolor;
  margin-right: 5px;
}
.list-group-flush.calendar > .list-group-item:last-child {
  border-bottom-width: 1px;
}

//Footer
footer {
  display: block;
  width: 100%;
  min-height: 500px;
  height: fit-content;
}
footer .bg-image {
  height: 100%;
}
footer .footer-inner {
  height: 100%;
  padding: 70px 0;
}
footer .list-group li{
  border: none;
  background: transparent;
  padding: .4rem 0;
  font-size: 1.2rem;
}
footer .list-group a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer .list-group li a:hover{
  opacity: .8;
}
footer .list-group li i.bi-arrow-right-circle{
  font-size: 24px;
  margin-right: 15px;
}
footer .footer-text-block p{
  font-size: 1.2rem;
}
.footer-logo{
  display: flex;
}
footer .list-group li img{
  margin-right: 15px;
}
footer .list-group li i.bi-box-arrow-up-right{
  margin-left: 15px;
} 

//Search nav
.input-nav #search-autocomplete {
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}
.input-nav.input-group .btn{
  display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 0;
height: 100%;
}
#autoComplete-nav.form-control{
  width: 0;
  // padding: 0;
  transition: width .2s linear;
  box-shadow: inset 0 0rem .2rem #005eb8;
border: none;
height: 100%;
border-radius: 3px;
}
.open-input #autoComplete-nav.form-control{
  width: 70%;
}
@media only screen and (max-width: 992px){
  .open-input #autoComplete-nav.form-control{
    width: 100%;
  }
}
@media only screen and (max-width: 772px){
      #autoComplete-nav.form-control{
        height: 0;
        width: 100%;
        position: fixed;
        top: 118px;
        right: 0;
        transition: height .15s linear;
        padding: 0 .75rem;
      }
      .scroll #autoComplete-nav.form-control{
        top: 70px;
      }
      .open-input #autoComplete-nav.form-control {
        height: 70px;
        padding: .375rem .75rem;
        transition: height .15s linear;
      } 
}

.btn.btn-altsecondary, .btn.btn-altsecondary:hover{
  color: white;
}